<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.Data.OracleClient" version="1.0.8" targetFramework="net461" />
  <package id="VSIXBootstrapper" version="1.0.31" targetFramework="net461" developmentDependency="true" />
  <package id="WPFNotification" version="1.1.0" targetFramework="net461" />
</packages>